Repository flex-development/aggregate-error-ponyfill: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn check:format, yarn check:spelling, yarn check:lint, yarn check:types, yarn dedupe --check

ci: add @dependabot configuration
  .github/dependabot.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs(release): add repo migration note to changelog
  CHANGELOG.md
Due: yarn check:format, yarn check:spelling, yarn check:lint

feat(ponyfill): add ponyfill
  .eslintrc.cjs
  src/__tests__/ponyfill.spec.ts
  src/ponyfill.ts
  vitest.config.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn check:types

docs(ponyfill): usage
  .dictionary.txt
  README.md
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 2.0.0-alpha.1
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 2.0.0-alpha.1 (#2)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore(pkg): fix `package.json#author`
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

build(pkg): add `"type": "module"`
  .graphqlrc.cts
  .vscode/settings.json
  .yarn/patches/graphql-config-npm-4.3.5-8989a92a82.patch
  package.json
  tsconfig.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn check:types, yarn dedupe --check

release: 2.0.0-alpha.2
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 2.0.0-alpha.2 (#3)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

build: fix tsconfig paths resolution in build files
  .yarn/patches/resolve-tspaths-npm-0.7.4-6fc6738fb9.patch
  build.config.ts
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn check:types, yarn dedupe --check

build(exports): remove `.d.ts` outputs
  build.config.ts
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn check:types

build: include file extensions for bare specifiers
  .dictionary.txt
  build.config.ts
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn check:types, yarn dedupe --check

refactor(ponyfill): use es2021 abstract operations
  src/ponyfill.ts
  typings/es-abstract/2021/AdvanceStringIndex.d.ts
  typings/es-abstract/2021/CreateDataPropertyOrThrow.d.ts
  typings/es-abstract/2021/GetMethod.d.ts
  typings/es-abstract/2021/IsArray.d.ts
  typings/es-abstract/2021/IterableToList.d.ts
  typings/es-abstract/2021/Type.d.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn check:types

chore(vscode): let eslint validate yaml files
  .vscode/settings.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore: remove `require.resolve` from eslint config
  .eslintrc.base.cjs
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore: check types during pre-commit workflow
  .husky/pre-commit
  .lintstagedrc.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore: fix `jsonc` file linting
  .eslintrc.base.cjs
  .lintstagedrc.json
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

build(deps-dev): patch graphql-config via yarn resolutions only
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

chore(pkg): cleanup `test` command
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

ci(workflows): add typecheck step to ci workflow
  .github/workflows/ci.yml
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 2.0.0-alpha.3
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 2.0.0-alpha.3 (#4)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

build: include file extensions for all import specifiers
  build.config.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn check:types

release: 2.0.0-alpha.4
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 2.0.0-alpha.4 (#5)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: built with
  README.md
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore: cleanup
  .commitlintrc.json
  .cspell.json
  .dictionary.txt
  .editorconfig
  .env.test
  .env.zsh
  .eslintrc.base.cjs
  .gitattributes
  .github/workflows/ci.yml
  .github/workflows/lock-inactive-threads.yml
  .github/workflows/no-response-handler.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .graphqlrc.cts
  .graphqlrc.yml
  .husky/pre-commit
  .markdownlint.jsonc
  .nvmrc
  .vscode/settings.json
  .yarn/patches/graphql-config-npm-4.3.5-8989a92a82.patch
  .yarnrc.yml
  CONTRIBUTING.md
  README.md
  __tests__/reporters/notifier.ts
  __tests__/setup/chai.ts
  __tests__/setup/console.ts
  __tests__/setup/index.ts
  helpers/tsconfig-paths.cjs
  loader.mjs
  package.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.tsnode.json
  typings/node/global.d.ts
  vitest.config.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn check:types, yarn dedupe --check

build: require at least node.js 14
  package.json
  tsconfig.build.json
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn check:types

build: set `typesVersions`
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

build: use `mkbuild` to build project
  .dictionary.txt
  .eslintrc.cjs
  .yarn/patches/mkdist-npm-0.3.13-c41cf41c68.patch
  .yarn/patches/resolve-tspaths-npm-0.7.4-6fc6738fb9.patch
  build.config.ts
  package.json
  src/index.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn check:types, yarn dedupe --check

release: 2.0.0
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 2.0.0 (#9)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore(github): add label `status:triaged`
  .github/labels.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

fix: missing `default` exports (#12)
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(deps-dev): bump @flex-development/mkbuild from 1.0.0-alpha.3 to 1.0.0-alpha.6
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

release: 2.0.1
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 2.0.1 (#13)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore: update project architecture
  .commitlintrc.json
  .cspell.json
  .dictionary.txt
  .editorconfig
  .eslintrc.base.cjs
  .github/.gitconfig
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .markdownlint.jsonc
  .prettierrc.json
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
  TODO.md
  __tests__/reporters/notifier.ts
  build.config.ts
  docs/ZSH.md
  loader.mjs
  package.json
  tsconfig.json
  vitest-env.d.ts
  vitest.config.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn check:types, yarn dedupe --check

build(deps): bump es-abstract from 1.19.1 to 1.20.4
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

Path conditions:
  yarn check:format: any of: *
  yarn check:spelling: any of: *
  yarn check:lint: any of: **/*.{cjs,cts,gql,json,json,md,mjs,ts,yml}
  yarn check:types: any of: **/{*.ts,tsconfig.*}
  yarn dedupe --check: any of: **/yarn.lock
